@using Ergonaut.App.Models
@using System.ComponentModel.DataAnnotations

@if (_IsLoading)
{
    <p class="mt-4"><em>Loading...</em></p>
}
else if (_Projects.Count == 0)
{
    <p class="mt-4"><em>No projects yet—create your first one above.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Created At</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in _Projects)
            {
                <tr>
                    <td>@project.Title</td>
                    <td>@project.Description</td>
                    <td>@project.CreatedAt.ToLocalTime()</td>
                    <td class="text-end">
                        <button class="btn btn-danger btn-sm" title="Delete" disabled="@IsSubmitting"
                            @onclick="() => DeleteProjectAsync(project)">
                            <i class="fa-solid fa-trash"></i> Delete
                            @* <span class="visually-hidden">Delete</span> *@
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    [Parameter] public List<ProjectRecord>? Projects { get; set; } = default;
    [Parameter] public bool IsSubmitting { get; set; }
    [Parameter] public EventCallback<ProjectRecord> OnDelete { get; set; }
    private Task DeleteProjectAsync(ProjectRecord project) =>
    OnDelete.HasDelegate ? OnDelete.InvokeAsync(project) : Task.CompletedTask;

    private bool _IsLoading => Projects == null;
    private List<ProjectRecord> _Projects => Projects ?? new List<ProjectRecord>();
}
