receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

exporters:
  otlphttp:
    endpoint: ${env:OTEL_EXPORTER_OTLP_ENDPOINT}
    compression: none
    headers:
      Authorization: "Bearer ${LOG_INGESTION_API_KEY}"
  otlp/jaeger:
    endpoint: jaeger:4317 # talks to Jaeger collector inside compose
    tls:
      insecure: true

processors:
  batch: {}

service:
  pipelines:
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp, otlp/jaeger]
