@using System
@using System.Globalization
@using System.Linq
@using System.Threading.Tasks
@using Ergonaut.App.Models
@using Microsoft.AspNetCore.Components

<div class="row align-items-center g-3 mb-4">
    <div class="col-12 col-md-6">
        <InputSelect @bind-Value="SelectedProjectGuid" TValue="Guid?" class="form-select" style="width: 50%;">
            <option value="">Select a project…</option>
            @if (Projects is not null)
            {
                foreach (var project in Projects)
                {
                    <option value="@project.Id">@project.Title</option>
                }
            }
        </InputSelect>
    </div>
    <div class="col-12 col-md-6">
        <p class="mt-4 mt-md-0">
            <em>Not seeing a fitting project? Create one <a href="projects">here</a>.</em>
        </p>
    </div>
</div>

@code {
    [Parameter] public IEnumerable<ProjectRecord>? Projects { get; set; }
    [Parameter] public Guid? SelectedProjectId { get; set; }
    [Parameter] public EventCallback<Guid?> OnProjectSelected { get; set; }
    [Inject] private ILogger<WorkItemsProjectSelector>? Logger { get; set; }

    private Guid? SelectedProjectGuid
    {
        get => SelectedProjectId;
        set
        {
             if (SelectedProjectId == value)
            {
                return;
            }

            Logger?.LogDebug("Project changed to {Project}", value);
            if (OnProjectSelected.HasDelegate)
            {
                _ = OnProjectSelected.InvokeAsync(value);
            }
        }
    }
}
